#Consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#tablaRegistros_wrapper {
    width: 99vw;
}

.dt-layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dt-start ,.dt-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    white-space: wrap;
}

.dt-column-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 100%;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
  display: block;
  content: "▲";
  content: "▲"/"";
}
table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  display: block;
  content: "▼";
  content: "▼"/"";
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc,
table.dataTable thead > tr > td.dt-ordering-desc {
  position: relative;
  padding-right: 30px;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  width: 12px;
}
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  left: 0;
  opacity: 0.3;
  line-height: 9px;
  font-size: 0.8em;
}
table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
  cursor: pointer;
}
table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
  opacity: 1;
}

#tablaRegistros_wrapper input,
#tablaRegistros_wrapper select {
    margin: 10px;
}

#tablaRegistros_wrapper label {
    font-size: 120%;
}

.dt-layout-table {
    width: 100%;
}

.dt-layout-cell {
    width: 100%;
}

#tablaRegistros {
    width: 100% !important;
    margin: 15px 0;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid var(--Secondary);
}

th span {
    font-family: "Asap Condensed", sans-serif;
    font-weight: bold;
    font-size: 125%;
}

th, td {
    text-align: center;
    padding: 15px;
    margin: 0;
}

td {
    font-size: 100% !important;
}

td a {
    position: relative;
    color: var(--Secondary);
    text-decoration: none;
    font-size: 150% !important;
    cursor: pointer;
}

td a:hover {
    color: var(--Background);
}

tr {
    border-bottom: 2px solid #74325a57;
}

col[data-dt-column="0"] { width: 10% !important; }
col[data-dt-column="1"] { width: 30% !important; }
col[data-dt-column="2"] { width: 20% !important; }
col[data-dt-column="3"] { width: 10% !important; }
col[data-dt-column="4"] { width: 20% !important; }
col[data-dt-column="5"] { width: 5% !important; }
col[data-dt-column="6"] { width: 5% !important; }

.dt-info {
    font-family: "Asap Condensed", sans-serif;
    font-weight: bold;
    font-size: 120%;
}

.paging_full_numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.dt-paging-button {
    padding: 10px;
    border-radius: 50px;
    background-color: var(--Background);
    border: 2px solid var(--Secondary);
    color: var(--Secondary);
}

.dt-paging-button:hover {
    background-color: var(--Secondary);
    color: var(--Background);
}

.dt-paging-button.current {
    background-color: var(--Secondary);
    color: var(--Background);
}

.dt-paging-button.disabled {
    border: none;
    background-color: #74325a57;
    color: var(--Background);
}

.dt-paging-button:focus {
    border: none !important;
    background-color: var(--Secondary);
    color: var(--Background);
}

span.ellipsis {
    width: fit-content;
    font-size: 250%;
    font-weight: bold;
}

.t-center {
    text-align: center;
}