#ConsultaCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 0 auto;
}

#ConsultaOpcMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 5px auto;
}

#Consulta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10PX;
    padding-bottom: 100px;
    margin: 0 auto;
}

.tablaHistoricos {
    border-collapse: collapse;
    margin: 50px auto 50px auto;
    font-size: 105%;
    width: 100%;
}

.ProgramaTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white !important;
    pointer-events: none;
    font-size: 150% !important;
}